<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<pre>
В лабораторній роботі No8 було створено просту аплікацію для
реєстрування користувачів. В цій роботі потрібно додати зручності для
роботи з додатком і додати оформлення.
Послідовність виконання завдань:
1. Відкрити проект ЛР8;
2. Додати до проекту хедер і футер [1].
3. У футері розмістити контактну інформацію про розробника.
4. Приєднати до проекту фреймворк Bootstrap [2].
5. Вибрати один із готових шаблонів в розділі Navs & Tabs [3],
розмістити його у хедері свого проекту.
6. До пунктів навігації приєднати такі дії "Про проект", "Створити
користувача", "Показати всіх користувачів", "Видалити всіх користувачів".
Дія "Про проект" повинна відображати завдання до цієї лабораторної роботи.
7. Видалити дії, які є на сторінках, і продубльовані в навбарі.
</pre>
</body>
</html>