<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>footer</title>
</head>
<body>
email of developer: <a href="mailto:oleksandr.moskalyk.20@pnu.edu.ua">oleksandr.moskalyk.20@pnu.edu.ua</a>
</body>
</html>